MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB_NAME=nytc
MONGO_COLLECTION_NAME=comments

VECTOR_COLLECTION_NAME=comments

GEMINI_API_KEY=....
GEMINI_API_URL=generativelanguage.googleapis.com/v1beta/models/

EMBEDDING_METHOD=embedContent
EMBEDDING_BATCH_METHOD=batchEmbedContents

GENERATING_METHOD=generateContent

EMBEDDING_MODEL=text-embedding-004

GENERATING_MODEL=gemini-2.5-flash

BATCH_SIZE=100
GET_EMBEDDINGS_TIMEOUT=60_000

TASK_TYPE_DOCUMENT=SEMANTIC_SIMILARITY
TASK_TYPE_QUERY=SEMANTIC_SIMILARITY
